.bg-image {
  /* fundo da app */
  background-image: url('../assets/background-heroi.jpg');
  background-size: cover;
}

.bg-card {
  background-color: rgb(209, 209, 209);
}

textarea {
  resize: none !important;
}

.cardimage{
  border-radius: 4px;
  width:57rem;
  height: auto;
  background-image: url("./assets/backgroundneve.jpg");
  color: white;
}
